<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="pageNavigationSection" type="Lixil.AvoidMissSystem.WinUI.PageNavigationSection, Lixil.AvoidMissSystem.WinUI"/>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement"/>
  </configSections>
  <exceptionManagement>
    <publisher mode="On" assembly="Microsoft.Japan.MCS.Samples.Utilities" type="Microsoft.Japan.MCS.Samples.Utilities.ExceptionManagement.DebugLogPublisher"/>
  </exceptionManagement>
  <pageNavigationSection>
    <pages>
      <page name="mainForm" form="Lixil.AvoidMissSystem.WinUI.MainForm" assembly="Lixil.AvoidMissSystem.WinUI"/>
      <page name="msMain" form="Lixil.AvoidMissSystem.WinUI.MsMaintenanceMainForm" assembly="Lixil.AvoidMissSystem.WinUI"/>
      <page name="msLogin" form="Lixil.AvoidMissSystem.WinUI.MsMaintenanceLoginForm" assembly="Lixil.AvoidMissSystem.WinUI"/>
      <page name="msTools" form="Lixil.AvoidMissSystem.WinUI.MsMaintenanceToolsForm" assembly="Lixil.AvoidMissSystem.WinUI"/>
      <!--shengh1 2015/04/15  add-->
      <page name="chkMain" form="Lixil.AvoidMissSystem.WinUI.CheckMainForm" assembly="Lixil.AvoidMissSystem.WinUI"/>
      <page name="chkDetail" form="Lixil.AvoidMissSystem.WinUI.CheckDetailForm" assembly="Lixil.AvoidMissSystem.WinUI"/>
      <!--shengh1 2015/04/15  end-->
      <page name="picture" form="Lixil.AvoidMissSystem.WinUI.MsMaintenancePictureForm" assembly="Lixil.AvoidMissSystem.WinUI"/>
      <page name="msAuthority" form="Lixil.AvoidMissSystem.WinUI.MsMaintenanceAuthorityForm" assembly="Lixil.AvoidMissSystem.WinUI"/>
      <page name="msBasic" form="Lixil.AvoidMissSystem.WinUI.MsMaintenanceCheckForm" assembly="Lixil.AvoidMissSystem.WinUI"/>
      <!--shengh1 2015/04/28  add-->
      <page name="chkResult" form="Lixil.AvoidMissSystem.WinUI.ResultModify" assembly="Lixil.AvoidMissSystem.WinUI"/>
      <!--shengh1 2015/04/28  end-->
      <page name="msLog" form="Lixil.AvoidMissSystem.WinUI.MsMaintenanceLogForm" assembly="Lixil.AvoidMissSystem.WinUI"/>
    </pages>
  </pageNavigationSection>
  
  <appSettings>

    <!--程序更新路径-->
    <add key="ApplicationUpdatePath" value="\\10.160.200.39\案件\【工場】無紙化案件\90_ApplicationUpdate\"/>
    <!--调试模式-->
    <add key="Debug" value="true"/>
    <!--开始的窗口-->
    <!--<add key="StartFormName" value="CheckMainForm"/>-->
    <add key="StartFormName" value="MsMaintenanceLoginForm"/>
    <!--检查详细画面 明细的字大小-->
    <add key="CheckDetail_MSFontSize" value="13"/>
    <!--检查详细画面 明细的Lable字体-->
    <add key="CheckDetail_MSLableFontFamily" value="微软雅黑"/>
    <!--检查详细画面 明细的Button字体-->
    <add key="CheckDetail_MSButtonFontFamily" value="Meiryo UI"/>

    
  </appSettings>
  
  <connectionStrings>
    <!--<add name="connectionString" connectionString="Data Source=Ot1686;Initial Catalog=AvoidMiss_New;Persist Security Info=True;user=sa;password=Scancheck1560;"
      providerName="System.Data.SqlClient" />-->
    <!-- 物性检查-->
    <add name="connectionString" connectionString="Data Source=Ot1686;Initial Catalog=AvoidMiss_Experiment;Persist Security Info=True;user=sa;password=Scancheck1560;"
     providerName="System.Data.SqlClient" />
    
    <!-- 陈新宇-->
    <!--<add name="connectionString" connectionString="Data Source=Ot1686;Initial Catalog=AvoidMiss_New;Persist Security Info=True;user=sa;password=Scancheck1560;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="connectionString" connectionString="Data Source=OT2414;Initial Catalog=AvoidMiss_New;Persist Security Info=True;user=sa;password=lixil@2014" providerName="System.Data.SqlClient"/>-->
    <!--<add name="connectionString" connectionString="Data Source=DESKTOP-N9EMD99\MS2012;Initial Catalog=AvoidMiss_New;Persist Security Info=True;user=sa;password=19833130" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.diagnostics>
	  <!--
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="performanceListener"
    type="System.Diagnostics.TextWriterTraceListener"
    initializeData="performanceTrace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
	  -->

    <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <!-- カスタムのGZip圧縮を無効にする際には下のエレメントをコメントアウトしてください（サーバ側のWeb.configも同様） -->
<!--
        <add type="Microsoft.Japan.MCS.Samples.Utilities.WebServices.SoapExtension.CompressionSoapExtension, Microsoft.Japan.MCS.Samples.Utilities" group="0" priority="1"/>
-->
      </soapExtensionTypes>
    </webServices>
    <httpRuntime maxRequestLength="2097151" executionTimeout="720000"/>
    
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
