html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body,html {
	font-family: Helvetica,Hiragino Sans GB,Microsoft Yahei,'微软雅黑',Arial,sans-serif;
}

body {
	margin: 0;
	font-size: 23px;
}

input {
	font-family: Helvetica,Hiragino Sans GB,Microsoft Yahei,'微软雅黑',Arial,sans-serif;
}

.Panel_Child {
	height: 50px;
	background-color: #c0c6e4;
	vertical-align: middle;
}

.ScanTextBox {
	margin: 0 auto;
	width: 140px;
	height: 30px;
	background-color: #fffcf9;
	color: #4c4948;
	font-size: 24px;
}

.Common_button {
	height: 52px;
	font-size: 24px;
}

.Ms_title {
	background-color: #c0c6e4;
}

.Ms_title th {
	height: 2pc;
	background-color: #5e005e;
	color: #fff;
	vertical-align: middle;
	font-size: 34px;
}

.Ms_title,.kind_title {
	height: 50px;
	vertical-align: middle;
}

.kind_title {
	border-width: 0;
	background-color: #d4d4d4;
}

.kind_title th {
	height: 2pc;
	background-color: #fff;
	vertical-align: middle;
	font-size: 22px;
}

.kind_title th,.tab_link {
	border-width: 0;
	color: #000;
}

.tab_link {
	font-weight: 700;
	font-size: 26px;
	cursor: pointer;
}

.button {
	background-color: snow;
	font-size: 20px;
}

.textbox {
	border-style: inset;
	background-color: #9ff;
	font-size: 24px;
}

.textbox_input {
	border-style: inset;
	background-color: #9ff;
	font-size: 24px;
	width:100%;
}

.table_title_new {
	width: 1286px;
	height: 5pc;
	border-collapse: collapse;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #104E8B),color-stop(1, #065fb9));
}

.table_title_new td {
	border-width: 0;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 22px;
}

.table_title_new th {
	border-width: 0;
	color: #000;
	color: #fff;
	font-weight: 700;
}

.div_msg_new {
	margin: 4px 0;
	width: 1286px;
	height: 50px;
	border-collapse: collapse;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #fff;
	color: red;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
}

.div_ms_new {
	overflow: scroll;
	margin: 4px 0 1pc;
	width: 1286px;
}

.tbl_ms_title_new {
	width: 140px;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #104E8B),color-stop(1, #065fb9));
	color: #fff;
}

.tbl_komoku_title_new,.tbl_ms_title_new {
	height: 40px;
	font-weight: 700;
	font-size: 24px;
}

.tbl_komoku_title_new {
	padding: 4px 0 4px 10px;
	width: 99%;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #aaa),color-stop(1, #eee));
	color: #000;
	vertical-align: middle;
	text-align: left;

}

.btn_common_new {
	width: 140px;
	height:60px;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ccc),color-stop(1, #fff));
	font-weight: 700;
	font-size: 24px;
	
}

.textbox_common {
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #e0ffff;
}

.textbox_common,.textbox_scan {
	border-style: inset;
	font-size: 24px;
}

.defaultPage_textbox_scan {
	width: 140px;
	height: 35px;
	background-color: #ff9;
}
.textbox_scan {
	width: 100%;
	height: 35px;
	background-color: #ff9;
	border-width:1px;
}


.defaultPage_textbox_scan {
	border-style: inset;
	font-size: 24px;
}

.text_scan_save_new {
	width: 0;
	height: 0;
}

.textbox_lable,.textbox_lable_white {
	border-style: none;
	background-color: transparent;
	font-size: 24px;
}

.textbox_lable_white {
	width: 10pc;
	color: #fff;
}

.tools_table tr td {
	height: 40px;
	color: #000;
	text-align: center;
	font-size: 24px;
}

.JQ_TOOLS_LINK {
	width: 100%;
	height: 40px;
	border-width: 1px;
	background-color: #fff;
	color: blue;
	text-align: center;
	text-decoration: underline;
	font-size: 26px;
}

.JQ_CheckMS tr td {
	font-size: 26px;
}
.baifenbiButton
{
	font-size: 28px;
	
}