<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="WatchingFolder" value="D:\Exports\"/>
    <!--<add key="WatchingFolder" value="\\DLTDLF2667\Exports"/>-->
    
    <add key="WatchingTime" value="120"/>
  </appSettings>
</configuration>