<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <appSettings>
    <!--<add key="auto_ipt" value="D:\Exports\"/>-->
    <!--<add key="auto_ipt1" value="\\DLTDLF2667\Exports"/>-->

    <add key="auto_ipt1" value="\\DLTDLT2775\Exports"/>
    <!--<add key="auto_ipt2" value="\\DLTDLF2958.lixil.lan\Exports"/>-->
    <add key="auto_ipt2" value="\\10.160.192.44\DATA\dataoutput"/>

    <!--<add key="auto_ipt1" value="D:\Exports"/>
    <add key="auto_ipt2" value="D:\Exports"/>-->

  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=10.160.192.44;Initial Catalog=AvoidMiss_Experiment;Persist Security Info=True;user=sa;password=Scancheck1560" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true"/>
    <customErrors mode="Off"/>
    <pages/>
  </system.web>
</configuration>