<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebUI-192ab7d9-648e-40d7-b241-b85e9cd12187;AttachDbFilename=|DataDirectory|\aspnet-WebUI-192ab7d9-648e-40d7-b241-b85e9cd12187.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<add name="connectionString" connectionString="Data Source=WIN7U-20150705K\R2;Initial Catalog=AvoidMiss;Persist Security Info=True;user=sa;password=1983313a" providerName="System.Data.SqlClient"/>-->
		<add name="connectionString" connectionString="Data Source=Ot1686;Initial Catalog=AvoidMiss_NEW;Persist Security Info=True;user=sa;password=Scancheck1560" providerName="System.Data.SqlClient"/>
    <!--<add name="connectionString" connectionString="Data Source=10.160.200.39; Initial Catalog=AvoidMiss_New;Persist Security Info=True;User ID=sa;Password=lixil@2014" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <appSettings>
    <add key="ver" value="ver2.0" />
    </appSettings>
	<system.web>
    <customErrors mode="Off"></customErrors>
		<compilation debug="true" strict="false" explicit="true">
		</compilation>
		<pages/>
  </system.web>
</configuration>
