<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="ServiceGuid" value="0000fff0-0000-1000-8000-00805f9b34fb" />
    <add key="WriteCharacteristicGuid" value="0000fff3-0000-1000-8000-00805f9b34fb" />
    <add key="NotifyCharacteristicGuid" value="0000fff2-0000-1000-8000-00805f9b34fb" />
    <add key="Command" value="D5 F2 00 00 0D" />
    
    <!--发送数据的串口-->
    <add key="串口号" value="COM5" />
    <add key="波特率" value="9600" />
  </appSettings>
</configuration>
